<div ng-controller="storeController">
    <h2>{{titre}}</h2>

    <div class="col-md-offset-2 col-md-8">
        <img  class="img-responsive" ng-src="{{image}}"   alt="oups"/>
    </div>

    <div class="test">
    <div class="col-md-6">
        <h3>Répartition des commerces</h3>
        <div class="jumbotron">
        <!--affichage du graphique en camenbert -->
        <nvd3-pie-chart
            data="exampleData"
            id="piechart"
            width="500"
            height="400"
            x="xFunction()"
            y="yFunction()"
            noData="oups"
            labelType="value"
            showLabels="true"
            showLegend="true">
            <svg height="250"></svg>
        </nvd3-pie-chart>
    </div>
    </div >
    </div >

    <div class="test2">
    <div class="col-md-6">
        <h3>Population en fonction des années</h3>
        <div class="jumbotron">
        <!-- Affichage du graphique en ligne -->
       <nvd3-line-chart
    	data="Data"
        id="linechart"
        width="500"
        height="400"
        xAxisTickFormat="xAxisTickFormatFunction()"
        yAxisTickFormat="yAxisTickFormatFunction()"
        showXAxis="true"
        showYAxis="true">
    		<svg height="250"></svg>
    </nvd3-line-chart>
            
    </div>
    </div >
    </div >
</div>