<div ng-controller="storeController">
    <h2>{{titre}}</h2>

    <div class="thumbnail">
        <img  class="img-responsive" ng-src="{{image}}"   alt="oups"/>
    </div>

    <div class="test">
    <div class="col-md-6">
        <h3>Répartition des commerces</h3>
        <div class="jumbotron">

        <nvd3-pie-chart
            data="exampleData"
            id="showLegendExample"
            width="500"
            height="400"
            x="xFunction()"
            y="yFunction()"
            noData="oups"
            labelType="value"
            showLabels="true"
            showLegend="true">
            <svg height="250"></svg>
        </nvd3-pie-chart>
    </div>
    </div >
    </div >

    <div class="test2">
    <div class="col-md-6">
        <h3>Graphique</h3>
        <div class="jumbotron">

       <nvd3-line-chart
    	data="Data"
        id="showXAxisExample"
        width="550"
        height="300"
        xAxisTickFormat="xAxisTickFormatFunction()"
        yAxisTickFormat="yAxisTickFormatFunction()"
        showXAxis="true"
        showYAxis="true">
    		<svg ></svg>
    </nvd3-line-chart>
            
    </div>
    </div >
    </div >
</div>