
  <body >

  <!--<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="image/paris1.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
           <h1>Bienvenue</h1>
	<h2>Ici vous allez pouvoir découvrir quel quartier de paris est fait pour vous</h
           </div>
        </div>
    </div>
</div>-->

<!--<div class="thumbnail">
            <img src="image/paris1.jpg" alt="..." />
           <div class="wrapper">
    <div class="caption post-content">

                <h1>Bienvenue</h1>
	<h2>Ici vous allez pouvoir découvrir quel quartier de paris est fait pour vous</h

            </div>
        </div>
    </div>-->

 
   <div class="wrapper">
  <img src="image/paris1.jpg" alt="" />
  <div class="overlay">
    <h1>Bienvenue</h1>
	<h2>Découvrez quel quartier de Paris est fait pour vous ! </h2>
      
  </div>
</div>

 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#/quartiers">
        <img  class="img-responsive" src="image/home1.png" alt="option1" >
        <div class="caption">
         Voir plus
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#/quartiers">
        <img  class="img-responsive" src="image/tableau.png" alt="Option2" >
        <div class="caption">
          Voir plus
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4" >
    <div class="thumbnail">
      <a ng-click="setProperty(75101)" href="#/arrondissement">
       <img  class="img-responsive" src="image/Louvre.png" alt="Option3" >
        <div class="caption">
         Voir plus
      </div>
      </a>
    </div>
  </div>
</div>




   </body>
